<!--@subject New customer @-->

<body>
    <p>Retailer Name: {{var retailer_name}}</p>
    <p>Website Address: {{var website_address}}</p>
    <p>Email Address: {{var main_email}}</p>
    <p>Password: {{var password}}</p>
    <p>First Name: {{var first_name}}</p>
    <p>Last Name: {{var last_name}}</p>
    <p>Company Name: {{var company_name}}</p>
    <p>DBA: {{var dba}}</p>
    <p>Company Address: {{var company_address}}</p>
    <p>State: {{var state}}</p>
    <p>ZIP Code: {{var zip_code}}</p>
    <p>Country: {{var country}}</p>
    <p>Company Telephone: {{var company_telephone}}</p>
    <p>Year founded: {{var year_founded}}</p>
    <p>Technical Contact</p>
    <p>Technical contact name: {{var technical_contact_name}}</p>
    <p>Telephone number: {{var technical_contact_number}}</p>
    <p>Email address: {{var technical_contact_email}}</p>
    <p>Product Information</p>
    <p>Primary categories listed for sale on your website: {{var primary_categories_for_sale}}</p>
    <p>Secondary categories listed for sale on your website: {{var seconadary_categories_for_sale}}</p>
    <p>Billing Information</p>
    <p>Accounts payable contact name: {{var billing_accounts_payable_contact_name}}</p>
    <p>Email address: {{var billing_email}}</p>
    <p>Telephone: {{var billing_telephone}}</p>
    <p>I want to be billed on a credit card or via ACH: {{var billing_want_to_be_billed}}</p>
    <p>Please call me at: {{var billing_call_me}}</p>
</body>